h1{
    font-size: 200%;
}

h1,h2,h3,h4{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}
label, input,p,a,textarea{
    font-family: 'Raleway', sans-serif;
}
fieldset{
    margin: auto;
    background: #849ea2 ;
    width: 90%;
}

body{
    background: #256d7b;
    color: white;
}

fieldset label, fieldset input, fieldset button, fieldset select{
    border-radius: 5px;
    display: block;
    display: flex;
    justify-content: center;
    margin: auto;
}

fieldset input.limpiar, fieldset input.enviar{
    display: inline;
}

textarea{
    width: 95%;
    margin: auto;
    border-radius: 10px;
    height: 90px;
    /*text-transform: uppercase;*/
}
/*input{
    text-transform: uppercase;
}*/
footer div{
    background: #353535;
    color: white;
    margin: auto;
    border-radius: 10px;
    height: 100px;
    padding-top: 5px;
}
footer div p{
    text-align: center;
    font-size: 80%;
}

.boton{
    color:white;
    background:#638cb5;
    font-weight:bold;
    font-size: 100%;
}

.mensaje{
    font-size: 120%;
    text-align: center;
    text-transform: uppercase;
    display: block;
    display: flex;
    justify-content: center;
    margin: auto;
    font-weight: bold;
}

.exito{
    color: green;
}

.fail{
    color: red;
}


.resultados div{
    border: 1px, double, black;
    border-radius: 20px;
    width: 60%;
    display: block;
    display: flex;
    justify-content: center;
    margin: auto;
    background: white;
}


