h1{
    font-size: 200%;
}

h1,h2,h3,h4{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}
label, input,p,a,textarea{
    font-family: 'Raleway', sans-serif;
}
fieldset{
    margin: auto;
    background: #849ea2 ;
    width: 90%;
}

body{
    background: #256d7b;
    color: white;
}

fieldset label, fieldset input, fieldset button, fieldset select{
    border-radius: 5px;
    display: block;
    display: flex;
    justify-content: center;
    margin: auto;
}

fieldset input.limpiar, fieldset input.enviar{
    display: inline;
}
