h1{
    font-size: 250%;
}
h1,h2,h3,h4{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}
.autor{
    font-size: 80%;
    text-align: center;
}

label, input,p{
    font-family: 'Raleway', sans-serif;
}

input{
    wei
}

label, input{
    font-size: 130%;
}