h1{
    font-size: 251%;
}
h1,h2,h3,h4{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}
.autor{
    font-size: 80%;
    text-align: center;
}

label, input,p{
    font-family: 'Raleway', sans-serif;
}

label, input{
    font-size: 130%;
}
.mensaje{
    font-size: 200%;
    text-align: center;
    color: red;
    text-transform: uppercase;
    display: block;
    display: flex;
    justify-content: center;
    margin: auto;
}

.resultados div{
    background: #F5A9A9;
    border: 1px, double, red;
    border-radius: 20px;
    width: 60%;
    display: block;
    display: flex;
    justify-content: center;
    margin: auto;
}
